@if (candidates$ | async; as candidates) {
  @if (candidates.length > 0) {
  <mat-list>
    @for (candidate of candidates; track candidate.id) {
      <mat-list-item>
        <div matListItemMeta>
          <sup>{{candidate.availability ? 'Available' : 'Not Available'}}</sup>
        </div>
        <mat-icon matListItemIcon color="{{ candidate.availability ? 'accent' : 'warn'}} ">person</mat-icon>
        <h3 matListItemTitle>{{ candidate.name }} {{ candidate.surname }} </h3>
        <p matListItemLine>
          <span>{{candidate.seniority}}</span>
          <span> -- {{candidate.years}} year(s)</span>
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    }
  </mat-list>
  } @else {
  <p>No candidates found.</p>
  }
}