.mat-accent {
  border: 2px dotted darkgreen;
}

.mat-warn {
  border: 2px dotted darkred;
}

.mat-mdc-list-item-meta.mdc-list-item__end {
  margin: 0;
  position: absolute;
  left: -0.3rem;
  top: -1rem;
  width: 70px;
  text-align: center;
}

.bin {
  border: 0;
  background: 0;
  cursor: pointer;
  float: right;
  position: relative;
  top: 0.3rem;
}